@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #173760;
    font-family: 'Mitr', sans-serif;
    font-size: 16px;
    color: #fff;
}

header a {
    text-decoration: none;
    color: #F3B634;
}

article{
    margin-top: 15px;
}

.social-icon img{
    width: 32px;
    
}

.social-icon ul{
    display: flex;
    padding: 0px;
}

.social-icon ul li{
    margin: 5px;
}

main{
    /* background-color: #F3B634; */
    margin: 20px;
    padding: 5px;
}




header {
    display: flex;
    position: sticky;
    top: 0px;
    background-color: #003477;
    width: 100%;
    height: 70px;
    box-shadow: 0px -2px 30px 0px #000000a6;
    /* padding: 10px; */
}

#Btn_menu, #Btn_menuClose {
    background: none;
    border: none;
    margin-right: 15px;
    padding: 5px;
    cursor: pointer;
    /* width: 45px;
    height: 45px; */
}

    ul{
        list-style: none;
    }

#profile img{
    width: 288px;
height: 288px;
border-radius: 288px;
}

#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.hard-skill-box{
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
    margin: 5px;
}

.hard-skill-box-head{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0;
}

.hard-skill-box-body{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 5px;
    flex-wrap: wrap;
}

.hard-skill-item{
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: #dddddd;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2px;
    margin: 8px;
}

.hardSkill-Logo{
   padding: 2px;
}

#soft-skill{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.soft-skill-box{
    width: 170px;
    height: 170px;
    background-color: #ffffff;
    color: #F3B634;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin: 5px;
}

#workings-box{
    background-color: #ffffff;
    max-width: 440px;
    min-height: 420px;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
}

#workings-box img{
    width: 100%;
    height: 225px;
}

#workings-box p{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(100, 100, 100, 0.651)
}

#workings-box h3{
    color: #F3B634;
}

.working-skills{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
}
.working-skills h4{
    background-color: #F3B634;
    margin: 5px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.Btn{
    text-decoration: none;
background-color: #F3B634;
    margin: 5px;
    width: 100px;
    border-radius: 5px;
    padding: 5px;
    color: #003477;
    text-align: center;
}

.workings-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.workings-header{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 10px;
}

.workings-header a{
    text-decoration: none;
    margin-left: 5px;
}

hr{
    border: 0;
        border-top: 2px dashed rgb(212, 212, 212);
}



/* เดสท็อป */


@media screen and (min-width: 1024px) {

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    #Btn_menu, #Btn_menuClose {
        display: none;
    }

    nav{
        margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    #ul-nav{

        display: flex;
        align-items: center;
        padding: 5px;
        
        
    }

    #ul-nav li{
        display: flex;
        margin: 2px;
        
    }
    
    #ul-nav li a{
        font-size: 24px;
        width: 120px;
        text-align: center;
        padding: 5px;
    }

    #text-nav{
        display: none;
    }

    .hard-skill-box{
        width:100% ;
        height: 100%;
        
        
    }
    
    .hard-skill-box-head{
        width: 100%;
    }

    #hard-skill{
        display: flex;
        align-items: center;
        width: 100%;
    }
    
}


/* phone and tablet */

@media screen and (max-width:767px), screen and (min-width:768px) and (max-width:1023px){
    header{
        height: auto;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */

    }
    .text-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav{
        background-color: rgba(243, 182, 52, 0.89);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
        height: 440px;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;
        padding: 5px;

    }

    #ul-nav{
        width:320px ;
        height: 320px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 10px;

    }
    #ul-nav li{
        
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5px;

    }

    #ul-nav li a{
        font-size: 24px;
        width: 100%;
        padding: 1px;
        color: #173760;

    }

    #text-nav{
        /* width: 100%; */
        text-align: center;
        color:#173760;
    }

    #text-nav hr{
        
        border: 0;
        border-top: 2px dashed rgb(212, 212, 212);
    }

    .nav-active{
        display: flex;
    }

    #hard-skill{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }


    .hard-skill-box{ 
        width: 100%;
    }
    
    .hard-skill-box-head{
        width: 100%;
    }

    


    
}